# Pandas Datareader

** NOTE: Not every geographical location works well with pandas datareader, your firewall may also block it!**

Functions from pandas_datareader.data and pandas_datareader.wb extract data from various Internet sources into a pandas DataFrame. Currently the following sources are supported:

* Yahoo! Finance
* Google Finance
* Enigma
* St.Louis FED (FRED)
* Kenneth Frenchâ€™s data library
* World Bank
* OECD
* Eurostat
* Thrift Savings Plan
* Oanda currency historical rate
* Nasdaq Trader symbol definitions (remote_data.nasdaq_symbols)

It should be noted, that various sources support different kinds of data, so not all sources implement the same methods and the data elements returned might also differ.

In [5]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2015, 1, 1)

end = datetime.datetime(2017, 1, 1)

facebook = web.DataReader("FB", 'google', start, end)

In [6]:
facebook.head()

             Open   High    Low  Close    Volume
Date
2015-01-02  78.58  78.93  77.70  78.45  18177475
2015-01-05  77.98  79.25  76.86  77.19  26452191
2015-01-06  77.23  77.59  75.36  76.15  27399288
2015-01-07  76.76  77.36  75.82  76.15  22045333
2015-01-08  76.74  78.23  76.08  78.18  23960953

### Experimental Options

The Options class allows the download of options data from Google Finance.

The get_options_data method downloads options data for specified expiry date and provides a formatted DataFrame with a hierarchical index, so its easy to get to the specific option you want.

Available expiry dates can be accessed from the expiry_dates property.

In [7]:
from pandas_datareader.data import Options

fb_options = Options('FB', 'google')

In [10]:
fb_options.expiry_dates

[datetime.date(2018, 1, 19)]

In [8]:
data = fb_options.get_options_data(expiry=fb_options.expiry_dates[0])

In [9]:
data.head()

                                            Last     Bid     Ask  Chg  PctChg  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  162.70  164.65  165.10  0.0     0.0
                  put  FB180119P00005000    0.01     NaN    0.03  0.0     0.0
10.0   2018-01-19 call FB180119C00010000  154.60  159.70  160.15  0.0     0.0
                  put  FB180119P00010000    0.01     NaN    0.02  0.0     0.0
15.0   2018-01-19 call FB180119C00015000  158.00  154.75  155.20  0.0     0.0

                                          Vol  Open_Int Root  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  NaN    9359.0   FB
                  put  FB180119P00005000  NaN    3053.0   FB
10.0   2018-01-19 call FB180119C00010000  NaN    2855.0   FB
                  put  FB180119P00010000  NaN    2056.0   FB
15.0   2018-01-19 call FB180119C00015000  NaN     240.0   FB

                                          Underlying_Price  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000            169.92
                  put  FB180119P00005000            169.92
10.0   2018-01-19 call FB180119C00010000            169.92
                  put  FB180119P00010000            169.92
15.0   2018-01-19 call FB180119C00015000            169.92

                                                         Quote_Time
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000 2017-08-31 17:47:45.830976
                  put  FB180119P00005000 2017-08-31 17:47:45.830976
10.0   2018-01-19 call FB180119C00010000 2017-08-31 17:47:45.830976
                  put  FB180119P00010000 2017-08-31 17:47:45.830976
15.0   2018-01-19 call FB180119C00015000 2017-08-31 17:47:45.830976

# FRED

In [11]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2017, 1, 1)

gdp = web.DataReader("GDP", "fred", start, end)

In [12]:
gdp.head()

                GDP
DATE
2010-01-01  14681.1
2010-04-01  14888.6
2010-07-01  15057.7
2010-10-01  15230.2
2011-01-01  15238.4